body {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
}

#content {
  background-color: #181818;
}

.parent-class {
  overflow: hidden;
  /* /* background-image: url('../images/main-bg.png'); */
  background-repeat: repeat;
  background-color: #000000;
}

.header {
  height: 80px;
  width: 100%;
  background-color: #181818 !important;
  padding: 0px 64px;
}

.header .title {
  letter-spacing: 0;
  font-size: 32px;
  color: #ffffff;
  font-weight: bold;
}

.header .title:hover {
  color: #ffffff;
}

.header .nav-items {
  margin-left: 10%;
  background-color: #181818 !important;
  z-index: 120 !important;
}

.header .nav-item {
  padding: 0px 25px;
}

.header .nav-item-link {
  color: #ffffff !important;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
}

.header .right-content {
  font-size: 14px;
  color: #aaaaaa;
}

.layout-1 {
  /* background-image: url('../images/main-bg.png');
  background-repeat: repeat;
  background-color: #181818;
  /* opacity: 0.1; */
  padding-bottom: 120px;
}

.layout-2 {
  background-image: url('../images/main-bg.png');
  background-repeat: repeat;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);
  /* opacity: 0.1; */
  color: #000000;
}

.section {
  padding: 5% 20px;
}

.play-section {
  color: #FF004C;
  margin-left: 22px;
  font-size: 18px;
  font-weight: bold;
}

.sec-2-content {
  font-size: 32px;
  line-height: 64px;
  color: #aaaaaa;
}

.sec-3-title {
  font-size: 14px;
  color: #FF004C;
  ;
  letter-spacing: 8.4px;
}

.sec-3-subtitle {
  font-size: 48px;
  color: #ffffff;
  font-weight: bolder;
  line-height: 64px;
  width: 75%;
}

.sec-3-label {
  color: #aaaaaa;
  width: 75%;
}

.sec-2-content .highlight-text {
  color: #FF004C;
  border-bottom: 1px solid #FF004C;
}

.footer {
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 0.9;
  padding-top: 115px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.home-title {
  color: #D8D5D5;
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 25px;
  line-height: 64px;
}

.home-subtitle {
  font-size: 18px;
  color: #aaaaaa;
  margin: 20px 0px;
  line-height: 32px;
}

.service-block {
  margin: 10px 0px 30px;
}

.service-block .service-image {
  width: auto;
  height: 304px;
  margin-bottom: 20px;
}

.service-block .service-title {
  font-weight: bolder;
}

.service-block .service-subtitle {
  color: #707070;
  margin: 10px 0px;
  width: 75%;
}

.service-block .service-image img {
  width: 100%;
  height: 100%;
}

.sec-4-title {
  font-size: 48px;
  font-weight: bolder;
  color: #000000;
}

.sec-4-content {
  color: #707070;
  line-height: 32px;
}

.sec-4-subtitle {
  font-size: 14px;
  color: #707070;
}

.sec-6-title {
  font-size: 48px;
  font-weight: bolder;
}

.sec-6-content {
  font-size: 14px;
  line-height: 24px;
  color: #707070;
}

.footer-title {
  font-size: 48px;
  font-weight: bolder;
}

.footer-contacts-title {
  font-size: 32px;
  font-weight: 800;
}

.footer-contact-details {
  margin: 10px 0px;
  font-size: 14px;
  color: #aaaaaa;
}

.footer-input {
  background: transparent;
  border: 0;
  padding: 15px 0px;
  width: 100%;
  border-bottom: solid 1px #aaaaaa;
  margin-bottom: 30px;
}

.footer-input:focus {
  border: 0;
}

.footer-input::placeholder {
  font-size: 14px;
  color: #aaaaaa;
}

.submit-btn {
  text-transform: uppercase;
  color: #ffffff;
  padding: 19px 52px;
  background-color: #FF004C;
  border-radius: 3px;
  box-shadow: 0px 5px 10px #000000;
  float: right;
  width: 144px;
}

.social-media {
  margin-top: 60px;
}

.social-media-icon {
  cursor: pointer;
  width: 20px;
  height: 25px;
  margin-right: 25px;
}

.social-media-icon img {
  width: 100%;
  height: 100%;
}

.services {
  margin: 15px 0px;
}

.services .title {
  margin: 10px 0px;
}

.service {
  cursor: pointer;
  color: #aaaaaa;
  font-size: 14px;
  margin: 5px 0px;
  padding: 12px 30px;
  border: 1px solid rgba(112, 112, 112, 0.3);
  border-radius: 2px;
}

.left-side:hover {
  color: #FF004C;
}

.right-side {
  margin-left: 12px;
}

.right-side:hover {
  color: #FF004C;
}

.MultiCarousel {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  position: relative;
}

.MultiCarousel {
  Height: 400px;
}

.MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all;
  width: unset !important;
  float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
  float: left;
  text-align: center;
  padding: 10px;
  margin: 10px 20px;
}

.MultiCarousel .MultiCarousel-inner .item>div {
  text-align: left;
  color: #666;
}

.MultiCarousel .MultiCarousel-inner .item>img {
  width: 72px;
  height: 72px;
}

.MultiCarousel .MultiCarousel-inner .item .title {
  font-size: 18px;
  margin-top: 30px;
  font-weight: 800;
  color: #000000;
}

.MultiCarousel .MultiCarousel-inner .item .content {
  line-height: 32px;
  color: #000000;
  margin-top: 20px;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
  border: 0;
  background: transparent;
  font-weight: 800;
  color: #262389;
}

.image-cropper {
  width: 72px;
  height: 72px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.image-cropper img {
  display: inline;
  margin: 0 -15px;
}

.left-side-panel {
  /* position: relative; */
}

.left-side-panel>div {
  /* position: absolute;
  top: 0px; */
  transform: rotate(-90deg);
  color: #aaaaaa;
  font-size: 18px;
}

.logo-item {
  margin: 15px 0px;
}

@media only screen and (max-width: 768px) {
  .left-side-panel {
    display: none;
  }
}